<div class="top-image"><%= image_tag('hollywood.jpeg', height: '120', width: '100%') %></div>
<div class="row twitter-bar hidden-xs">

</div>
<div class="container">
  <div class="row">
    <div class="profile-info col-xs-4">
      <div class="profile-info-content">
        <%= cl_image_tag user_avatar(@user), width: 150, height: 150, class: "profile-avatar" %>
        <h5><%= @user.first_name %> <%= @user.last_name%></h4>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> </p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Joined </p>
        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</p>
        <p><i class="fa fa-facebook-square" aria-hidden="true"></i> FaceBook</p>
        <%= link_to 'Edit', edit_user_registration_path(@user), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="first-tab tab-box active">
        <a class="profile tab active" data-target="#bio">
          <p class="button-word">About Me</p>
        </a>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="tab-box">
        <a class="profile tab" data-target="#reviews">
          <p class="button-word">Reviews</p>
        </a>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="tab-box">
        <a class="profile tab" data-target="#projects">
          <p class="button-word">Projects</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="tab-content active" id="bio">
          <p>Bio</p>
          <p><%= @user.bio%></p>
        </div>
        <div class="tab-content" id="reviews">
          <p>reviews</p>
          <% current_user.responses.each do |response| %>
            <div class="list-group">
              <li class="list-group-item">
              <div class="list-group-item-header">
                <%= response.job.skill.title %>
              </div>
              <% if response.job.job_review %>
                <%= response.job.job_review.content   %>
                        <p><% response.job.job_review.rating.times do %><i style="color: #e5d200;" class="fa fa-star" aria-hidden="true"></i><% end %></p>
              <% end %>
              </li>
            </div>
          <% end %>
        </div>
        <div class="tab-content" id="projects">
          <% current_user.projects.each do |project| %>
            <div class="list-group">
              <li class="list-group-item">
              <div class="list-group-item-header">
                <%= project.title %>
              </div>
              </li>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


