<div class="banner"><%= image_tag('hollywood.jpeg', class: "user-banner") %></div>

<div class="container">
  <div class="row">
    <div class="profile-info col-xs-4">
      <div class="profile-info-content">
        <%= cl_image_tag user_avatar(@user), width: 150, height: 150, class: "profile-avatar" %>
        <h5><%= @user.first_name %> <%= @user.last_name%></h4>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.location %></p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i> Joined <%= @user.created_at.strftime("%B %Y") %></p>
        <p><i class="fa fa-linkedin-square" aria-hidden="true"></i> <%= link_to "LinkedIn", @user.linkedin, class: "clickable-name" %></p>
        <p><i class="fa fa-facebook-square" aria-hidden="true"></i> <%= link_to "Facebook", @user.facebook, class: "clickable-name" %></p>
        <% if @user == current_user%>
          <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to 'Edit', edit_user_registration_path(@user), class: "clickable-name" %></p>
        <% end %>
        <div class="row mini-menu">
          <div class="col-xs-4 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="first-tab tab-box active">
              <a class="profile tab active" data-target="#bio">
                <p class="button-word">About Me</p>
              </a>
            </div>
          </div>
          <div class="col-xs-4 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="tab-box">
              <a class="profile tab" data-target="#reviews">
                <p class="button-word">Reviews</p>
              </a>
            </div>
          </div>
          <div class="col-xs-4 hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="tab-box">
              <a class="profile tab" data-target="#projects">
                <p class="button-word">Projects</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-1 hidden-xs">
      <div class="first-tab tab-box active">
        <a class="profile tab active" data-target="#bio">
          <p class="button-word">About Me</p>
        </a>
      </div>
    </div>
    <div class="col-sm-2 col-md-1 hidden-xs">
      <div class="tab-box">
        <a class="profile tab" data-target="#reviews">
          <p class="button-word">Reviews</p>
        </a>
      </div>
    </div>
    <div class="col-sm-2 col-md-1 hidden-xs">
      <div class="tab-box">
        <a class="profile tab" data-target="#projects">
          <p class="button-word">Projects</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="tab-content active" id="bio">
          <p><%= @user.bio %></p>
          <% if @user.bio.to_s.empty? %>
            <p><i>No information provided yet.</i></p>
          <% end %>
        </div>
        <div class="tab-content hidden" id="reviews">
          <% review_count = 0 %>
          <% @user.responses.each do |response| %>
            <% if response.status === "accepted" %>
              <% if response.job.job_review %>
                <div class="review-content">
                  <h4 class="review-title"><% response.job.job_review.rating.times do %><i style="color: #e5d200;" class="fa fa-star" aria-hidden="true"></i><% end %>    <b><%= response.job.skill.title %> - <i><%= response.job.project.title %></i></b></h4>
                  <hr>
                  <p class="review-details">By <b><%= response.job.project.user.first_name %> <%= response.job.project.user.last_name %></b> on <%= response.job.job_review.created_at.strftime("%B %e, %Y") %></p>
                  <%= response.job.job_review.content %>
                </div>
                <% review_count += 1 %>
              <% end %>
            <% end %>
          <% end %>
          <% if review_count === 0 %>
            <p><i>No reviews yet.</i></p>
          <% end %>
        </div>
        <div class="tab-content hidden" id="projects">
          <%= render "project" %>
        </div>
      </div>
    </div>
  </div>
</div>


