<div class="banner banner-new-project" style="background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(<%=image_path('form-background2.jpeg')%>">
  <div class="container container-form">
    <div class="row">
      <div class="col-xs-12">
        <% if params[:action] == 'edit' || params[:action] == 'update' %>
          <h1 class="form-title">Edit Project</h1>
        <% else %>
          <h1 class="form-title">New Project</h1>
        <% end %>
      </div>
    </div>
    <hr class="line-shadow">
    <%= simple_form_for @project do |f| %>
      <div class="row">
        <div class="col-xs-6 center-text">
          <%= f.input :title, :input_html => {:placeholder => "Enter title here"}, :label => "Title" %>
        </div>
        <div class="col-xs-6 center-text">
          <%= f.input :genre, :input_html => {:placeholder => "Action, Comedy, Drama, etc."}, :label => "Genre" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-text">
          <%= f.input :description, :input_html => {:placeholder => "Describe your project"}, :label => "Description" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 center-text">
          <%=f.input :schedule %>
        </div>
        <div class="col-xs-6 center-text">
          <%=f.input :location, :input_html => {:placeholder => "City"}, :label => "Location" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Go To Project", class: 'wide-button btn btn-primary' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <% if params[:action] == 'edit' || params[:action] == 'update' %>
            <%= link_to 'Delete Project'.html_safe, project_path(@project), class: 'wide-button btn btn-danger del' , method: :delete, data: { confirm: 'Are you sure you want to delete your project?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
