<% projects_by_subject.each do |p| %>
	<div style="position: relative; display:flex-center;">
    <ul>
		  <%= link_to project_path(p.project) do %>
        <li>
          <div class="container">
            <div class="row">
              <div class="col-xs-3 result host">
                <%= cl_image_tag user_avatar(p.project.user), crop: :fill, height: '50', width: '50', class: 'card-avatar' %>
                <p>Host: <%= p.project.user.first_name %> <%= p.project.user.last_name %></p>
              </div>
              <div class="col-xs-5 result title-description">
                <h2><%= p.project.title %></h2>
                <p><%= p.project.description %></p>
              </div>
              <div class="col-xs-4 result li-info">
                <h4><%= p.skill.title %></h4>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= p.project.schedule %></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= p.project.location %></p>
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> <%= p.project.genre %></p>
              </div>
            </div>
          </div>
        </li>
		  <% end %>
    </ul>
	</div>
<% end %>
