<div class="banner" style="background-image: url(<%=image_path('project-show.jpg') %>)">
  <div class="text-center title">
    <h1><%= @project.title %></h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 word">
            <p>INFO</p>
          </div>
          <div class="col-sm-5">
            <p><b>Location:</b> <%= @project.location %></p>
            <p><b>Genre:</b> <%= @project.genre %></p>
            <p><b>Hosted by:</b> <%= link_to @project.user, class: "clickable-name" do %>
              <%= @project.user.first_name %>
              <%= @project.user.last_name %>
            <% end %>
            <% if current_user == @project.user %>
              <%= link_to edit_project_path(@project) do %>
                <p class="clickable-name">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
              <% end %>
            <% end %>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 word">
            <p>DATES</p>
            <br>
          </div>
          <div class="col-sm-5">
            <p><%= @project.schedule.strftime("%B %e, %Y") %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 word">
            <p>DESCRIPTION</p>
          </div>
          <div class="col-sm-5">
            <p><%= @project.description %></p>
          </div>
        </div>
        <hr class="hidden-sm hidden-md hidden-lg hidden-xl">
      </div>
    </div>
    <div class="col-sm-5 hidden-xs">
      <div class="form">
      <% if current_user == @project.user %>
        <h3>Add job <i class="fa fa-plus" aria-hidden="true"></i></h3>
        <%= simple_form_for [@project, @job] do |f| %>
          <%= f.input :skill_id , collection: Skill.all.order("title ASC")  %>
          <%= f.submit "Add job", class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <h3>Available Jobs:</h3>
      <% end %>
      </div>
      <%= render 'job' %>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row mobile-jobs hidden-sm hidden-md hidden-lg hidden-xl">
    <div class="form">
      <% if current_user == @project.user %>
        <h3>Add job <i class="fa fa-plus" aria-hidden="true"></i></h3>
        <%= simple_form_for [@project, @job] do |f| %>
          <%= f.input :skill_id , collection: Skill.all.order("title ASC")  %>
          <%= f.submit "Add job", class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <h3>Available Jobs:</h3>
      <% end %>
      </div>
      <%= render 'job' %>
      <br>
      <br>
  </div>
</div>



